
body {
  background-image: url('../images/wave-white-orange.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

section#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#contact-left {
  width: 50%;
  height: fit-content;
  padding: 5rem;
  background-color: var(--colors-background-1);
  border: 0.5rem solid var(--colors-1-base);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div#contact-right {
  width: 39%;
  height: fit-content;
  background-color: var(--colors-background-1);
  padding: 3rem;
  border: 0.5rem solid var(--colors-1-base);
  border-radius: 100%;
  transition: scale var(--transition-time);
}

div#contact-right:hover {
  scale: 1.05;
}

form#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form#contact-form div.fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form#contact-form button {
  width: 100%;
}

section#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: var(--colors-1-base);
}

section#team table {
  width: 50%;
  background-color: var(--colors-background-1);
  padding: 1rem;
  border-radius: 1rem;
  border-spacing: 0;
  text-wrap: nowrap;
}

section#team thead {
  background-color: var(--colors-2-base);
  color: var(--colors-text-on-color);
}

section#team thead td:first-child {
  border-radius: 1rem 0 0 1rem;
}

section#team thead td:last-child {
  border-radius: 0 1rem 1rem 0;
}

section#team tbody tr td:first-child {
  padding: 1rem;
}

section#team td {
  width: max-content;
  padding: 0 1rem;
  text-align: center;
}

section#team img {
  width: 12.5rem;
  border: 0.25rem solid var(--colors-2-base);
  border-radius: 100%;
}
