
body {
  background-image: url('../images/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

section#banner {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#banner-left {
  font-size: 2.5rem;
  font-weight: 700;
}

div#banner-right {
  width: 30%;
  height: fit-content;
  background-color: #FFFFFF;
  padding: 1.5rem;
  border-radius: 100%;
}
